body {
	font-family: 'Fahkwang', Arial, sans-serif;
    background-size: 115%;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
}

#wrapper{ 
    max-width:1024px; 
    min-width: 320px;
    text-align:left; 
    margin: 0 auto;
     }

#MainText {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 36px;
}

h3 {
    color: yellow;
}
.photo img {
    display: block;
    margin: auto;
}

div {
	box-sizing: border-box;
}

li {
    list-style: none;
}

.block {
	background: rgba(101, 101, 214, 0.5);
	width: 1024px;
	height: auto;
    margin: 0 auto;
    padding: 10px;
}

.block__element {
	width: 10%;
	height: 100px;
	position: relative;
	margin: auto;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
    
}
.flex-element {
	order: 0;
	flex-grow: 1;
	flex-shrink:1;
	flex-basis: auto;
	align-self: flex-start;
}

.itm1 {
    flex-grow: 0;
}

